/* You can add global styles to this file, and also import other style files */

// ****************************************************************************** //
// LIBRERIAS //
// ****************************************************************************** //

//Se importa la libreria de bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css'
//Se importa la libreria de la fuente de roboto.
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i')

// ****************************************************************************** //
// VARIABLES //
// ****************************************************************************** //

// Colores

$ColorDetalleCard: #ecf0f1
$ColorContenidoCard: #ffffff
$ColorFondoSpan: #1ABC9C
$ColorLetraSpan: #fff
$ColorTituloCard: #000000
$ColorParrafoCard: #747373
$ColorBotonCard: #1ABC9C
$ColorLetraBotonCard: #fff
$ColorBotonCardHover: orange

// ****************************************************************************** //
// MIXIN //
// ****************************************************************************** //

@mixin Borde($Ancho)
  border: $Ancho

@mixin Borde-Radius($Grados)
  border-radius: $Grados

@mixin Borde-Radius-General($Grados)
  @include Borde-Radius($Grados)
  -webkit-border-radius: $Grados
  -moz-border-radius: $Grados
  -ms-border-radius: $Grados
  -o-border-radius: $Grados


// ****************************************************************************** //
// COMPORTAMIENTO //
// ****************************************************************************** //

//Destino-Viaje

section
    padding: 100px 0

.details-card
  background: $ColorContenidoCard

.card-content
  background: $ColorContenidoCard
  @include Borde(4px)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
  margin-bottom: 40px

.card-img
  position: relative
  overflow: hidden
  @include Borde-Radius(0px)
  z-index: 1

.card-img img
  width: 100%
  height: auto
  display: block

.card-img span
  position: absolute
  top: 15%
  left: 12%
  background: $ColorFondoSpan
  padding: 6px
  color: $ColorLetraSpan
  font-size: 12px
  @include Borde-Radius-General(4px)
  transform: translate(-50%,-50%)

.card-img span h4
  font-size: 12px
  margin: 0
  padding:10px 5px
  line-height: 0

.card-desc
  padding: 1.25rem

.card-desc h3
  color: $ColorTituloCard
  font-weight: 600
  font-size: 1.5em
  line-height: 1.3em
  margin-top: 0
  margin-bottom: 5px
  padding: 0

.card-desc p
  color: $ColorParrafoCard
  font-size: 14px
  font-weight: 400
  font-size: 1em
  line-height: 1.5
  margin: 0px
  margin-bottom: 20px
  padding: 0
  font-family: 'Raleway', sans-serif

.btn-card
  background-color: $ColorBotonCard
  color: $ColorLetraBotonCard
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
  padding: .84rem 2.14rem
  font-size: .81rem
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-inout, box-shadow .15s ease-in-out
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-inout, box-shadow .15s ease-in-out
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-inout, box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
  margin: 0
  border: 0
  @include Borde-Radius-General(.125rem)
  cursor: pointer
  text-transform: uppercase
  white-space: normal
  word-wrap: break-word
  color: $ColorLetraBotonCard

.btn-card:hover
  background: $ColorBotonCardHover

a.btn-card
  text-decoration: none
  color: $ColorLetraBotonCard



