<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card card-outline-secundary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <app-form-destino-viaje (ItemAgregado) ="Agregado($event)"></app-form-destino-viaje>
          <!--
            <form method="POST" action="#">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" class="form-control" type="text" name="nombre" placeholder="Ingresar el nombre.." #nombre>
              </div>
              <div class="form-group">
                <label for="ImagenURL">Imagen URL</label>
                <input id="ImagenURL" class="form-control" type="text" name="ImagenURL" placeholder="Ingresar la URL..." #URL>
              </div>
              <button class="btn btn-success col-md-6 offset-md-3" type="submit" (click)="Guardar(nombre.value, URL.value)">INGRESAR</button>
            </form>
          -->
        </div>
      </div>
    </div>
  </div> <!--FIN FILA 1-->
  <hr class="mb-5">
  <div class="row row-flex">
    <!--
    <app-destino-viaje
      *ngFor="let indice of destinos, let NumControl = index"
      [destino] = "indice"
      [idx] = "NumControl + 1"
      (Presionado) = "Seleccionado($event)"
    ></app-destino-viaje>
    -->
    <!--
    <app-destino-viaje
      *ngFor="let Indice of destinoApiClient.getAll(); let NumControl = index"
      [destino] = "Indice"
      [idx] = "NumControl + 1"
      (Presionado) = "Seleccionado($event)"
    ></app-destino-viaje>
    -->
    <app-destino-viaje
      *ngFor="let Indice of ListaDestinos; let NumControl = index"
      [destino] = "Indice"
      [idx] = "NumControl + 1"
      (Presionado) = "Seleccionado($event)"
    ></app-destino-viaje>
  </div><!--FIN FILA 2-->
  <hr class="mb-5">
  <div class="row row-flex">
      <h1>Movimientos</h1>
      <ul>
        <li *ngFor="let Movimiento of Movimientos;">{{Movimiento}}</li>
      </ul>
  </div><!--FIN FILA 3-->
</div> <!--FIN CONTAINER-->
