
<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <!--
    <img src={{destino.imagenURL}} alt="">
    -->
    <span><h4>Destino # {{NumControl}}</h4></span>
    <!--
    <span><h4>{{destino.nombre}}</h4></span>
    -->
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servcios</p>
    <ul>
      <li *ngFor="let Servicio of destino.servicios">
        <span [ngSwitch]="Servicio">
          <i *ngSwitchCase="'Piscina'" style="color: teal;">{{Servicio}}</i>
          <i *ngSwitchDefault>{{Servicio}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="ManoArriba()"><i class="material-icons md-18">thumb_up</i></a>
      <a href="#" (click)="ManoAbajo()"><i class="material-icons md-18">thumb_down</i></a>
      <span>{{destino.Votos}}</span>
    </div>
    <a href="#" class="btn-card" (click)="ir()">Ir</a>
    <span *ngIf="destino.IsSelected()">
      <span ngNonBindable> {{Preferido}} </span>
    </span>
    <!--
      otra forma para jugar con el style
      <span [style.display] = "destino.IsSelected() ? '' : 'none'"> -- PREFERIDO -- </span>
    -->
    <a [routerLink]="['/destino']">Destino</a>
  </div>
</div>

