<form
  method="POST"
  action="#"
  [formGroup] = "fg"
  (ngSubmit) = "Guardar(fg.controls['Nombre'].value,fg.controls['URL'].value)"
>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" class="form-control" type="text" name="nombre" placeholder="Ingresar el nombre.." [formControl] = "fg.controls['Nombre']">
    <ul>
      <li *ngFor="let Recomendacion of Recomendaciones;">{{Recomendacion}}</li>
    </ul>
    <div style="color: red;" *ngIf="!fg.controls['Nombre'].valid">* Campo requerido</div>
    <div style="color: teal;" *ngIf="fg.controls['Nombre'].hasError('required')">* Campo requerido</div>
  </div>
  <div class="form-group">
    <label for="ImagenURL">Imagen URL</label>
    <input id="ImagenURL" class="form-control" type="text" name="ImagenURL" placeholder="Ingresar la URL..." [formControl] = "fg.controls['URL']">
    <div style="color: teal;" *ngIf="fg.controls['URL'].hasError('required')">* Campo requerido</div>
    <div style="color: red;" *ngIf="fg.controls['URL'].hasError('ImagenInvalida')">* Imagen Invalida</div>
    <div style="color: teal;" *ngIf="fg.controls['URL'].hasError('LongitudInvalida')">* Longitud Invalido ({{MinCaracter}} carateres minimo)</div>
  </div>
  <button class="btn btn-success col-md-6 offset-md-3" type="submit" *ngIf="fg.valid">INGRESAR</button>
</form>
